body{
	color: #40514E;
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
}

.top-container{
	background-color:#EFFFFD;
	background: radial-gradient(#85F4FF, #42C2FF);
	padding-top: 1px;
/*	background-image:url('https://imagesvc.timeincapp.com/v3/mm/image?url=https%3A%2F%2Fcdn-image.travelandleisure.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F1600x1000%2Fpublic%2F1479854258%2Fkahaluu-bay-kona-big-island-hawaii-WRLDSNST1122.jpg%3Fitok%3DSFMX3uUf&w=800&q=85');
	background-repeat: no-repeat;
    background-size: 100%;
	background-position:50% 50%;*/
}

.border{   /* in order to pick out a certain class, we have to use (.) before the class*/
	padding: 1px;
	background: linear-gradient(110deg, #FFF5E4 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #C5E7D7 34%, #ffeead 34%);
	background-size: 400% 400%;
	height: 400px;
	background-position: 25% 50%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 5s ease infinite;
}
.inner-cutout{
	padding: 40px 0;
	display: block;
	background-color:#EFFFFD;/*#ff6f69*/
	margin: 2%;
	padding-bottom: 40px;
	height: 300px;
	background: radial-gradient(#85F4FF, #42C2FF); /*(#7FBCD2, #A5F1E9, #E1FFEE, #FFEEAF)+ (EFFFFD,B8FFF9,85F4FF,42C2FF,88d8b0)*/
	background-size: 300%;
	background-position:50% 50%;
}

.knockout {
	margin-top: 51px;
	vertical-align: middle; /*sets vertical alignment of an inline, inline-block or table-cell box.*/
	text-align: center;
	/*font-family: 'Pacifico', cursive;
	font-size:35pt;
	color: blue;
	color: #fff;*/
	background: linear-gradient(110deg, #FFF5E4 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #C5E7D7 34%, #ffeead 34%);  /*#7FBCD2*/
	background-size: 400%;
	 -webkit-text-fill-color: transparent;
  	 -webkit-background-clip: text;
}

.knockout{
		animation: Gradient 5s ease infinite;
		-webkit-animation: Gradient 15s ease infinite;
		-moz-animation: Gradient 5s ease infinite;
}

.main{
	width: 500px;
	height: 500px;
	margin-left: 30%;
	margin-right:40%;
	margin-top: 10%;
}

h1 {
	font-size: 4.75rem; /* need 60pt// 16px = 100% = 1em */
	font-family: 'Sacramento', cursive;
 }
.pro {
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	color: #66BFBF;
	font-weight: normal;
	font-size: 2.5rem;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	color: #11999E;
	font-weight: normal;
}
hr {
	border: dotted #C5E7D7 6px;
	border-bottom: none;
	width: 4%;
	margin: 100px auto;
  }
  
a{
	color: #11999E;
	font-family: 'Montserrat', sans-serif;
	margin: 10px 20px;
	text-decoration: none;
  }
  
  a:hover {
	color: #EAF6F6;
  }


.color-overlay{
	margin: auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #85F4FF;
	opacity: .9;
	display: flex;
	justify-content: center;
	}

.middle-container{
	margin: 10% auto 0 auto;
	width: 50%;
}

.CV-pic{
	max-width: 95%;
	height: auto;
	border-radius: 50%;
	display: block;
	margin: auto;
}
.skill-row{
	text-align: left;
	line-height: 2;
}
.machine-learning{
	max-width: 25%;
	height: auto;
	border-radius: 50%;
	float:left;
	margin-right: 40px;
	filter: drop-shadow(8px 8px 10px #42C2FF);
}
.Front-end{
	max-width: 25%;
	height: auto;
	border-radius: 50%;
	float:right;
	margin-left: 40px;
	filter: drop-shadow(8px 8px 10px #42C2FF);
}

.bottom-container{
	background: radial-gradient(#85F4FF, #42C2FF);
	padding: 50px 0 20px;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 30% 50%
	}
	50% {
		background-position: 25% 50%
	}
	100% {
		background-position: 30% 50%
	}
	
}

.contact-message {
	width: 40%;
	margin: 40px auto 60px;
  }
  
  .copyright {
	color: #EAF6F6;
	font-size: 0.75rem;
	padding: 20px 0;
  }
  

.btn {
	background: #11cdd4;
	background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
	background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
	background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
	background-image: -o-linear-gradient(top, #11cdd4, #11999e);
	background-image: linear-gradient(to bottom, #11cdd4, #11999e);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
  }
  
  .btn:hover {
	background: #30e3cb;
	background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
	text-decoration: none;
  }
  